.app-container {
  font-family: sans-serif;
  padding: 20px;
}

.add-button,
.delete-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.add-button {
  background-color: #4caf50; /* Зеленый цвет */
  color: white;
}

.delete-button {
  background-color: #f44336; /* Красный цвет */
  color: white;
}

.delete-button:disabled {
  background-color: #ccc; /* Серый цвет для неактивной кнопки */
  cursor: not-allowed;
}
